**/.git
**/.github
**/node_modules
**/dist
**/.env
**/.env.*
certificates/*
!certificates/production-rabbitmq-server.pem
!certificates/development-rabbitmq-server.pem
**/test-results
**/coverage
**/tests
**/guides
**/scripts
**/*.log
README.md
CHANGELOG.md
AGENTS.md
